h1, h2, h3, p {
  font-family: Helvetica;
}
h1, h2, h3, .price {
  font-weight: bold;
}
h1 {
  font-size: 100px;
  color: khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
}
.item h2 {
  font-size: 32px;
  color: white;
}
#brush {
  background-color: mediumspringgreen;
}
#frame {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
.price {
  color: blue;
}
